# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Builds
dist/
build/
coverage/

# TypeScript
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# Banco de dados local (não deve ser versionado)
*.sqlite
*.sqlite-journal

# Sistema (Windows/macOS)
.DS_Store
Thumbs.db
desktop.ini

# IDEs e editores
.vscode/
.idea/
*.swp
